<html>
 <style>
 table, th, td {
   border: 1px solid black;
   text-align: center;
 }
 </style>
<body>

<table>
  <tbody>
    <tr>
        <th scope="row"> <%= movie.title %> </th>
        <th scope="row"> <%= movie.rating %> </th>
        <th scope="row"> <%= movie.release_date %> </th>
    </tr>
  </tbody>
</table>


