<body style="background-color: green; border: 2px solid">
<h1 style="color: white">Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= button_to "Show this movie", @movie, method: :get %> <br>
  <%= button_to "Back to movies", movies_path, method: :get %> <br>
</div>
</body>